<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple clicker(alpha)</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body id="body">
    <h1 id="TitleAppleClicker">Apple clicker</h1>
    <h2 id="Shop">Shop</h2>
    <p id="countLabel">0</p>
    <button id="IncreaseApple"><img src="../Picture,Video,Sounds/Apple.png"></button>
    <script src="../static/scripts/function.js"></script>
    <div class="shop" id="main">
        <div class="slot" id="slot1">Workers
            <button class="Buy">Buy</button>
            <p class="price">Price: 15</p>
        </div>
        <div class="slot" id="slot2">Farm
            <button class="Buy">Buy</button>
            <p class="price">Price: 100</p>
        </div>
        <div class="slot" id="slot3">Factory
            <button class="Buy">Buy</button>
            <p class="price">Price: 1000</p>
        </div>
        <div class="slot" id="slot4">Shop
            <button class="Buy">Buy</button>
            <p class="price">Price: 2000</p>
        </div>
        <div class="slot" id="slot5">Trucks
            <button class="Buy">Buy</button>
            <p class="price">Price: 5000</p>
        </div>
        <div class="slot" id="slot6">Ship
            <button class="Buy">Buy</button>
            <p class="price">Price: 10000</p>
        </div>
        <div class="slot" id="slot7">Aerplane
            <button class="Buy">Buy</button>
            <p class="price">Price: 30000</p>
        </div>
        <div class="slot" id="slot8">Trade centre
            <button class="Buy">Buy</button>
            <p class="price">Price: 50000</p>
        </div>
        <div class="slot" id="slot9">Computer
            <button class="Buy">Buy</button>
            <p class="price">Price: 100000</p>
        </div>
        <div class="slot" id="slot10">Rocket ship
            <button class="Buy">Buy</button>
            <p class="price">Price: 200000</p>
        </div>
    </div>

</body>
</html>