<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/styles/leaderboard.css" />
</head>
<body>
    <h3><b>🎖️Leaderboard🎖️</b></h3>
    <table>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Money</th>
        </tr>
        {%- for i, user in enumerate(top, 1) %}
        <tr>
            <td>#{{i}}</td>
            <td>{{user.username}}</td>
            <td>{{"{:.2f}".format(user.apple)}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>