<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Clicker | Log In</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body id="body">
    <div class="loginpage" id="loginbox">
        <h2>Apple Clicker</h2>
            <form>
                <div class="inputbox">
                    <input type="text" maxlength="15" required>
                    <label>Enter your username</label>
                    <span></span>
                </div>
                <br>
                <br>
                <div class="inputbox">
                    <input type="password" maxlength="20" required>
                    <label>Enter your password</label>
                    <span></span>
                </div>
                <div>
                    <input type="submit" value="Log in" class="btn">
                </div>
            </form>
            <p class="loginpage">Don't have an account? <a href="/signup">Register</a></p>
    </div>
</body>
</html>