<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Clicker | Sign Up</title>
    <link rel="stylesheet" href="/static/styles/signup.css">

    <script src="/static/scripts/error.js" defer></script>
</head>
<body id="body">
    <div class="loginpage" id="loginbox">
        <h2>Apple Clicker</h2>
        <p id="error" style="display: none;">{{error}}</p>
        <br>
        <form action="/signup_validator" method="post">
            <!--change-->
            <div class="inputbox">
                <input type="text" maxlength="15" name="username" required>
                <label>Enter your username</label>
                <span></span>
            </div>
            <br>
            <br>
            <div class="inputbox">
                <input type="password" maxlength="20" name="password" required>
                <label>Enter your password</label>
                <span></span>
            </div>
            <br>
            <br>
            <div class="inputbox">
                <input type="password" maxlength="20" name="confirm" required>
                <label>Enter your confirm password</label>
                <span></span>
            </div>
            <div>
                <input type="submit" value="Sign Up" class="btn">
            </div>
        </form>
        <p class="loginpage">Already have an account? <a href="/login">Log in</a></p>
    </div>
</body>
</html>