<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple clicker(alpha)</title>
    <link rel="stylesheet" href="../static/styles/style.css">

    <script src="../static/scripts/function.js" defer></script>
</head>
<body id="body">
    <div class="TitleAppleClicker">
        <p>Username: </p><a href="/leaderboard" class="leaderboard">Leaderboard</a>
    </div>
    <h3 id="Shop">Shop</h3>
    <div id="Clicker">
        <div id="divcount">
            <p id="countPara">0</p>
        </div>
        <button id="IncreaseApple"><img src="../static/assets/Apple.png"></button>
    </div>
    <div class="shop" id="main">
        <div class="slot" id="slot0">Workers
            <button class="Buy" id="buy0">Buy</button>
            <p class="price">Price: 15</p>
            <p class="inv" id="inv0">0</p>
        </div>
        <div class="slot" id="slot1">Farm
            <button class="Buy" id="buy1">Buy</button>
            <p class="price">Price: 100</p>
            <p class="inv" id="inv1">0</p>
        </div>
        <div class="slot" id="slot2">Factory
            <button class="Buy" id="buy2">Buy</button>
            <p class="price">Price: 1000</p>
            <p class="inv" id="inv2">0</p>
        </div>
        <div class="slot" id="slot3">Store
            <button class="Buy" id="buy3">Buy</button>
            <p class="price">Price: 2000</p>
            <p class="inv" id="inv3">0</p>
        </div>
        <div class="slot" id="slot4">Trucks
            <button class="Buy" id="buy4">Buy</button>
            <p class="price">Price: 5000</p>
            <p class="inv" id="inv4">0</p>
        </div>
        <div class="slot" id="slot5">Ship
            <button class="Buy" id="buy5">Buy</button>
            <p class="price">Price: 10000</p>
            <p class="inv" id="inv5">0</p>
        </div>
        <div class="slot" id="slot6">Aeroplane
            <button class="Buy" id="buy6">Buy</button>
            <p class="price">Price: 30000</p>
            <p class="inv" id="inv6">0</p>
        </div>
        <div class="slot" id="slot7">Trade centre
            <button class="Buy" id="buy7">Buy</button>
            <p class="price">Price: 50000</p>
            <p class="inv" id="inv7">0</p>
        </div>
        <div class="slot" id="slot8">Computer
            <button class="Buy" id="buy8">Buy</button>
            <p class="price">Price: 100000</p>
            <p class="inv" id="inv8">0</p>
        </div>
        <div class="slot" id="slot9">Rocket ship
            <button class="Buy" id="buy9">Buy</button>
            <p class="price">Price: 200000</p>
            <p class="inv" id="inv9">0</p>
        </div>
    </div>
    <div class="claim">
        <label>0</label>
    </div>
    <div>
        <button class="btnclaim"><b>Claim before leaving</b></button>
    </div>

</body>
</html>