* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(52, 161, 235);
}

.TitleAppleClicker {
    display: flex;
    background-color: rgb(24, 196, 24);
    font-size: 40px;
}

.leaderboard {
    margin-left: auto;
    text-decoration: none;
}

.leaderboard:hover {
    filter: brightness(1.75);
}

#setting-menu {
    z-index: 999;
    position: absolute;
    width: 1000px;
    height: 600px;
    margin-left: 13%;
    margin-top: -2.5%;
    background-color: rgb(194, 80, 80);
    border: brown solid 3px;
    border-radius: 10px;
    margin-bottom: 50%;
}

#log-out {
    background-color: transparent;
    border: transparent;
    width: 100px;
    font-size: 25px;
}

#log-out:hover {
    color: white;
}

#settings {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 35px;
}

#settings:hover {
    filter: brightness(1.75);
}

#divcount {
    position: relative;
    margin-top: -700px;
    font-size: 50px;
    margin: 0 auto;
    height: 50px;
    width: fit-content;
}

#Clicker {
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-top: auto;
    height: 90vh;
}

#countPara {
    text-align: center;
}

#Shop {
    position: absolute;
    margin-left: 1030px;
    margin-top: 0px;
    font-size: 50px;
}

#IncreaseApple {
    background-color: transparent;
    border-color: transparent;
}

#IncreaseApple:hover {
    scale: 1.2;
}

#main {
    border-radius: 10px;
    background-color: rgb(99, 235, 129);
    height: 400px;
    width: fit-content;
    border: 5px solid black;
    position: relative;
    margin-left: auto;
    margin-top: -520px;
    display: block;
    overflow-y: scroll;
}

.slot {
    border-style: groove;
    background-color: rgb(169, 184, 170);
    height: 100px;
    width: 300px;
    border: 5px solid rgb(175, 103, 103);
    position: relative;
    font-size: 25px;
}

.Buy {
    position: absolute;
    left: 230px;
    top: 60px;
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    font-weight: bold;
}

.Buy:hover {
    color: white;
}

.inv {
    display: flex;
    width: 100px;
    justify-content: right;
    position: absolute;
    left: 200px;
    top: 0;
    color: black;
    font-size: 50px;
}

.large {
    scale: 1.3 !important;
}

.hide {
    display: none;
}